@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10px; 
  }
  .btn{
    border: none;
    font-size:15px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #3b3b98;
}
.btn-large{
    display: block;
    width: 100%;
}
.container{
    background-color: blueviolet;
    box-shadow: 20px rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 400px;
    max-width: 100%;
}
.result-container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 10px 10px;
    display:flex;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
    height: 50px;
    font-size: 18px;
}
.result-container #result{
    word-wrap: break-word;
    max-width: calc(100%-40px);
    overflow: scroll;
    height: 100%;

}
.result-container .btn{
    position: absolute;
    right: 5px;
}
.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}